
html body {
    font-family: Lato,Arial,'Helvetica Neue',Helvetica,sans-serif;
    color: #333;
}

table th .abbr {
    border-bottom: 1px dotted #333;
}

table td {
    padding: 0.5em 0.5em;
    line-height: 1.25em;
}

table td p {
    margin: 0 0 0.25em 0;
}

.pre {
    margin: 1em 2em;
    line-height: 12pt;
    font-size: 90%;
    font-family: "Courier New", monospace;
    background-color: #eee;
    padding: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 .3em .3em rgba(0, 0, 0, 0.1);
    color: #555;
	white-space: pre-wrap;
}

.hidden {
    display: none;
}

.TakeNote {
    font-style: italic;
    margin: 1em 3em;
    margin-top: 2em;
    padding: .7em 1.5em;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    box-shadow: 0 .3em .3em rgba(0,0,0,.1);
}

.Warning {
    font-style: italic;
    margin: 1em 3em;
    margin-top: 2em;
    padding: .7em 1.5em;
    border-top: 2px solid #dfb800;
    border-bottom: 2px solid #dfb800;
    box-shadow: 0 .3em .3em rgba(0,0,0,.1);
}

.bodyXSmall {
    
}

.bodyXSmall .methodscript_code {
    font-size: 60%;
}

.bodyXSmall .pre {
    font-size: 50%;
}

.methodscript_code {
    font-size: 11pt;
    line-height: 14pt;
    box-shadow: 0 .3em .3em rgba(0,0,0,.1);
    background: #F9F9F9;
}

.methodscript_code a {
    color: inherit;
    text-decoration: none;
}

.methodscript_code a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.redLink {
    color: red;
}

.maxWidth100Percent {
    max-width: 100%;
}

.ppInnerText {
    color: black;
    font-size: 11pt;
}

.ppBlueText {
    color: #3c508a;
    font-size: 14pt;
}

.ppGrayText {
    color: #424242;
    font-size: 12pt;
}

.learningTrail > ul {
    line-height: 30px;
}

.center {
    text-align: center;
}

#function_tooltip_content .return {
    color: blue !important;
}

#function_tooltip_content .name {
    font-style: italic;
}

#function_tooltip_content .args {
    font-weight: bold;
}

#function_tooltip_content .desc {
    margin: 2px;
}

.tt_cursor {
    cursor: help;
}

code {
    padding: 0 0.65em;
    border: none;
}

#edit_this_page {
    font-size: x-small;
    color: rgba(0, 0, 0, 0.75);
}

.hiddenFunction {
    display: none;
}

#theme-select {
    height: 1.75em;
}

#theme-select option {
    color: black;
}

/* Search */

.sb-search {
	position: relative;
	top: 10px;
	width: 0%;
	min-width: 60px;
	height: 40px;
	overflow: hidden;
	float: right;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	-webkit-appearance: none;
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #e67e22;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
	overflow:visible;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

.sb-search-results {
	left: -220px;
    top: 40px;
    min-width: 500px;
    position: absolute;
    background-color: #202222;
    color: black;
	border: green 2px solid;
	display: none; /* Initially hidden, until the user types something*/
	overflow: auto;
	max-width: 750px;
	max-height: 80vh;
}

.sb-search-result-type {
	font-variant: small-caps;
	font-size: x-small;
	color: gray;
}

.sb-search-results a {
	color: black;
}

.sb-search-results ul {
	margin: 0;
	padding: 0;
	display: none;
}

.sb-search-results li {
	list-style-type: none;
	padding: 0 5px;
	line-height: 30pt;
	cursor: pointer;
}

.sb-search-results li:hover {
	background-color: rgba(0, 150, 0, 0.5);
}

.sb-search-results-loading {
	line-height: 0;
	text-align: center;
}

.sb-search-results-loading img {
	width: 50px;
}

.sb-search-results-nothing {
	line-height: 24pt;
	text-align: center;
	margin: 0;
	display: none;
	color: white;
}

.sb-icon-search-close {
	width: 45px;
	height: 45px;
	margin: 0;
}

.sb-icon-search-normal {
	margin: 9px;
}