
html body {
	color: white;
}

body {
	background-color: #383838;
}

h1, h2, h3, h4, h5, h6 {
	color: #afafaf;
}

strong, b {
	color: #888;
}

#edit_this_page {
	color: white;
}

.methodscript_code {
	color: black;
}

/* Logo frontpage */
img[alt="Image:CommandHelper_Logo_New.png"] {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(https://i.imgur.com/4TtTfgg.png) no-repeat;
	width: 381px;
	/* Width of new image */
	height: 90px;
	/* Height of new image */
	padding-left: 381px;
	/* Equal to width of new image */;
}